.container{
    border: 2px solid black;
    width: 40vh;
    height: 60vh;

}
.input{
    padding-left:40px;
}
#expression{
    width: 300px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons{
    border: 2px solid grey;
    height: 51vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.button{
    border: 1.5px solid red;
    margin: auto;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}